################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/searching/binary-search-csharp/obj/Debug
/searching/binary-search-csharp/bin/Debug
/searching/binary-search-csharp/.vs/binary-search-csharp/v14
